body{
	font-family: Arial, "MS Trebuchet", "Calibri";
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p{
	font-family: Arial, "MS Trebuchet", "Calibri";
}

.game_heading{
	height: 35px;
	background-color: #13354f;
	color: #fff;
}

.holder{
	float: left;
}

.messages{
	height: 250px;
	padding: 10px;
	overflow: auto;
	font-size: 11px;
}

.landing_page{
	font-size: 24px;
	background-color: #13354f;
	color: #ddd;
	height: 560px;
	padding: 2px;
}

.features{
	font-size: 16px;
	line-height: 35px;
}

.room_box{
	text-align: center;
	line-height: 15px;
	font-size: 12px;
	border: 2px solid #ddd;
	color: maroon;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #abc;
	float: left;
	height: 50px;
	width: 70px;
	font-weight: bold;
}

.server_room{
	float: left;
	padding: 5px;
	width: 72%;
}

.server_room a{
	text-decoration: none;
}

.server_room a:hover{
	color: #fff;
	background-color: grey;
}

.box{
	height: 100px;
	width: 10%;
	float: left;
	padding: 10px;
}

.box_spacer{
	height: 50px;
	width: 20px;
	float: left;
}

.game_panel{
	width: 250px;
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #abc;
	padding: 5px;
}

.moderator_menu{
	display: none;
}

.menu{
	padding: 5px;
}

.menu a{
	text-decoration: none;
}

.menu a:hover{
	color: #ccc;
}

.menu_item{
	font-size: 11px;
	padding: 3px;
	color: #fff;
}

.score{
	font-weight: bold;
	font-size: 14px;
	color: maroon;
}

#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000;
	z-index:8;
}

#popupContact{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:400px;
	width:500px;
	background:#fff;
	border:2px solid grey;
	z-index:9;
	padding:20px;
	font-size:14px;
	color: maroon;
	overflow:auto;
}

.help_close_link{
	font-size: 11px;
}

.help_close_link a{
	text-decoration: none;
}

.help_close_link a:hover{
	text-decoration: underline;
}

.game_play{
	font-size: 13px;
	color: maroon;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #abc;
	height: 70px;
	overflow: auto;
}

.current_info{
	font-size: 16px;
	font-weight: bold;
	color: green;
}

.old_info{
	color: grey;
}

.dice_stack{
	padding: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #aaa;
	border: 2px solid #ddd;
	color: maroon;
	float: left;
}

.stack{
	padding: 2px;
	height: 20px;
}