body{
	font-family: Arial, "MS Trebuchet", "Calibri";
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p{
	font-family: Arial, "MS Trebuchet", "Calibri";
}

.holder{
	float: left;
	width: 550px;
}

.messages{
	height: 300px;
	padding: 10px;
	overflow: auto;
	font-size: 11px;
}

.landing_page{
	font-size: 24px;
	background-color: #13354f;
	color: #DDD;
	height: 800px;
	padding: 20px;
}

.room_box{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #abc;
	font-size: 14px;
	padding: 10px;
	float: left;
	height: 80px;
	width: 80px;
	text-align: center;
	line-height: 25px;
	border: 3px solid #ddd;
	color: maroon;
	font-weight: bold;
}

.box{}

.box_spacer{
	height: 80px;
	width: 20px;
	float: left;
}

.box a{
	text-decoration: none;
}

.box a:hover{
	color: #fff;
	background-color: grey;
}

.server_room{
	font-size: 16px;
	padding: 10px;
	height: 150px;

}

.game_panel{
	width: 450px;
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #abc;
	padding: 10px;
}

.moderator_menu{
	display: none;
}

.menu{
	padding: 10px;
}

.menu a{
	text-decoration: none;
}

.menu a:hover{
	color: #fff;
	background-color: grey;
}

.menu_item{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
	background-color: #aaa;
	border: 2px solid #ddd;
	padding: 3px;
	color: maroon;
}

.score{
	font-weight: bold;
	font-size: 14px;
	color: maroon;
}

#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000;
	z-index:8;
}

#popupContact{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:400px;
	width:500px;
	background:#fff;
	border:2px solid grey;
	z-index:9;
	padding:20px;
	font-size:14px;
	color: maroon;
	overflow:auto;
}

.help_close_link{
	font-size: 11px;
}

.help_close_link a{
	text-decoration: none;
}

.help_close_link a:hover{
	text-decoration: underline;
}

.game_play{
	font-size: 13px;
	color: maroon;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #abc;
	height: 70px;
	overflow: auto;
}

.current_info{
	font-size: 16px;
	font-weight: bold;
	color: green;
}

.old_info{
	color: grey;
}